.stopwatch-btn{
  color: white;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-radius: 25px;
  transition: 0.2s;
  margin-left: 3em;
  cursor: pointer;

  &-start{
    background-color: green;
  }

  &-stop{
    background-color: red;
  }

  &-reset{
    color: black;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  }

  &-wait{
    background: #053852 repeating-linear-gradient(135deg, #053852, #053852 10px, #1679ad 10px, #1679ad 20px, #053852 20px);
  }
}