@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background: url("../src/assets/test.jpg") no-repeat ;
    background-size: 100%;
}

.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.App{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}